/* .fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1s ease-in;
} */

.item-card {
  height: 450px;
  width: 30%;
}

.color-drop-down {
  height: 370px;
  overflow-y: scroll;
}

@media screen and (max-width: 1200px) {
  .item-card {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 0.8rem;
  }
  .item-card {
    width: 90%;
  }
}
